.videos-header-title {
  font-size: 56px;
  font-weight: 400;
  line-height: 0px;
}

.videos-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10rem 10rem;
}

.subTitle {
  color: #868e96;
}

@media (max-width: 500px) {
  .videos-header-title {
    font-size: 30px;
    text-align: center;
  }
  .videos-header-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}
